body {
    margin: 0 auto;
    font-family: 'Source Code Pro', monospace;
}

.post{
    width: 20%;
    height: 600px;
    background-color: greenyellow;
    float: left;
    margin: auto;
    margin: 2%;
}

