body{
    margin: 0 auto;
    background-image: url("../photos/home_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Source Code Pro', monospace;
}

#main{
    margin: auto;
    width: 30%;
    max-height: 600px;
    margin-top: 15px;
    border: 2px solid;
    position: relative;
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#main input[type="text"],
#main input[type="submit"] {
    font: 400 14px/18px "Roboto", Helvetica, Arial, sans-serif;
}

.animText{
    border-right: solid 3px #000000;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 0 auto;
    margin-top: 190px;
}

/* Animation */
.animText {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
    from{width: 0;}
    to{width: 370px;}
}

/* cursor animations */

@keyframes animated-cursor{
    from{border-right-color: #000000;}
    to{border-right-color: transparent;}
}


#main input[type="text"],
#main input[type="password"]{
    width: 100%;
    border: 1px solid #585453;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    outline: none;
}

#main input[type="text"]:hover,
#main input[type="password"]:hover{
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #000000;
}

#main input[type="submit"] {
    cursor: pointer;
    width: 100%;
    margin: 0 0 5px;
    font-size: 15px;
    color: #000000 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #585453;
    display: inline-block;
    transition: all 0.4s ease 0s;
    text-align: center;
    font-weight: bold;
}

#main input[type="submit"]:hover {
    color: #ffffff !important;
    background: #000000;
    border-color: #000000;
    transition: all 0.4s ease 0s;
}

